{{if eq .chezmoi.os "linux" -}}
#!/usr/bin/bash

brew install zsh
brew install bat
brew install nvim
brew install fasd
brew install lazygit
brew install tmux
brew install lsd
brew install ghq

{{ end -}}
