{{if eq .chezmoi.os "linux" -}}
#!/usr/bin/bash

brew install nvim
brew install fasd
brew install lazygit
brew install tmux
brew install python@3.11
brew install virtualenv
brew install zplug

{{ end -}}
